In [55]:
import pandas as pd

In [56]:
df = pd.DataFrame(pd.read_csv("Demo.csv"))

In [57]:
df

  title description  amount
0     A      fruits    1000
1     B  vegetables    2000
2     C    utensils    3000

In [58]:
c = 0
for i  in df['amount']:
    i = str(i)
    i = '$' + i
    df['amount'][c] = i
    c+=1

<ipython-input-58-26c27190e2e9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount'][c] = i
C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [59]:
df

  title description amount
0     A      fruits  $1000
1     B  vegetables  $2000
2     C    utensils  $3000